<!DOCTYPE html>
<html xlmns="https://thymeleaf.org">

<head>

    <th:block th:replace="~{fragments/head :: personal-head}" />

</head>

<body class="bg-dark text-white">

    <header th:replace="~{fragments/content :: title('Pizzeria da Pedro')}"></header>

    <main>

        <div class="container">

            <!-- Messaggio in caso di db vuoto -->
            <div th:replace="~{fragments/content :: empty-db(${specialOffer})}"></div>

            <!-- Caso di db popolato -->
            <div th:replace="~{fragments/content :: db-ok(${specialOffer})}"></div>

        </div>

    </main>

    <footer>
        <div class="container d-flex flex-row-reverse py-3">
            <a class="btn btn-primary" th:href="@{/special-offers/create}">Crea offerta speciale</a>
        </div>
    </footer>

</body>


</html>