<!-- DB vuoto -->
<th:block th:fragment="empty-db(list)">
    <div th:if="${list.size() == 0}">

        <h1 class="text-danger text-center pt-5">Non ci sono pizze nel database!</h1>

    </div>
</th:block>

<!-- DB popolato -->
<th:block th:fragment="db-ok(list)">
    <div th:unless="${list.size() == 0}" class="d-flex flex-wrap gap-4">

        <div th:each="element : ${list}" class="col-4 card shadow">

            <img class="card-img-top" th:src="${element.imgUrl}" th:alt="${element.name}">

            <div class="card-body d-flex flex-column justify-content-end">
                <h4 class="card-title">[[${element.name}]]</h4>
                <div class="card-subtitle mb-2 text-success">[[${element.price}]]€</div>
                <div class="card-text">[[${element.description}]]</div>

            </div>

        </div>

    </div>
</th:block>