<!DOCTYPE html>
<html xmlns="https://thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: personal-head}"></th:block>
</head>

<body>

    <header th:replace="~{fragments/content :: title('Aggiungi una pizza')}"></header>

    <main>

        <form class="container d-flex flex-column align-items-center gap-2 py-3" id="pizza-form" th:object="${pizza}"
            th:action="@{/pizzas/create}" method="post">

            <!-- Nome Pizza -->
            <div class="col-4">
                <label class="form-label" for="pizzaName">Nome</label>
                <input class="form-control" type="text" name="name" id="pizzaName" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('name')}" th:text="${err}"></p>
                </div>
            </div>

            <!-- Descrizione Pizza -->
            <div class="col-4">
                <label class="form-label" for="pizzaDescription">Descrizione</label>
                <textarea class="form-control" name="description" id="pizzaDescription" rows="5"
                    placeholder="(Facoltativo)" th:errorClass="is-invalid"></textarea>
                <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('description')}" th:text="${err}"></p>
                </div>
            </div>

            <!-- ImgURL Pizza -->
            <div class="col-4">
                <label class="form-label" for="pizzaImgUrl">Link all'immagine</label>
                <input class="form-control" type="url" name="imgUrl" id="pizzaImgUrl" placeholder="(Facoltativo)">
            </div>

            <!-- Prezzo Pizza -->
            <div class="col-4">
                <label class="form-label" for="pizzaPrice">Prezzo</label>
                <input class="form-control" type="number" step=".01" min="0" name="price" id="pizzaPrice"
                    th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('price')}" th:text="${err}"></p>
                </div>
            </div>

            <!-- Button navigation -->
            <div class="col-12 d-flex flex-row-reverse gap-2 py-3">

                <a th:href="@{/pizzas}" class="btn btn-primary">Torna all'indice</a>

                <input class="btn btn-success" type="submit" value="Crea pizza">

            </div>

        </form>

    </main>

</body>

</html>