<!DOCTYPE html>
<html xlmns="https://thymeleaf.org">

<head>

	<th:block th:replace="~{fragments/head :: personal-head}" />

</head>

<body>

	<header class="py-3">
		<h1 class="text-center">Benvenuto nella mia pizzeria!</h1>
	</header>

	<main>

		<div class="container">

			<!-- Messaggio in caso di db vuoto -->
			<div th:replace="~{fragments/content :: empty-db(${pizzas})}"></div>

			<!-- Caso di db popolato -->
			<div th:replace="~{fragments/content :: db-ok(${pizzas})}"></div>

		</div>

	</main>

</body>

</html>