<!DOCTYPE html>
<html xlmns="https://thymeleaf.org">

<head>

	<th:block th:replace="~{fragments/head :: personal-head}" />

</head>

<body class="bg-dark text-white">

	<header th:replace="~{fragments/content :: title('Pizzeria da Pedro')}"></header>

	<main>

		<div class="container">

			<form action="" method="get" class="py-3">
				<input class="form-control col-4" type="text" name="pizza" id="pizzaQuery"
					placeholder="Inserire pizza da ricercare...">
			</form>

			<!-- Messaggio in caso di db vuoto -->
			<div th:replace="~{fragments/content :: empty-db(${pizzas})}"></div>

			<!-- Caso di db popolato -->
			<div th:replace="~{fragments/content :: db-ok(${pizzas})}"></div>

		</div>

	</main>

	<footer>
		<div class="container d-flex flex-row-reverse py-3">
			<a class="btn btn-primary" th:href="@{/pizzas/create}">Aggiungi una pizza</a>
		</div>
	</footer>

</body>

</html>