<!DOCTYPE html>
<html xlmns="https://thymeleaf.org">

<head>

    <title>Pizzeria da Pedro</title>

    <th:block th:replace="~{fragments/head :: personal-head}" />

    <!-- Link Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Link a js/homepage.js -->
    <script type="text/javascript" th:src="@{/js/homepage.js}" defer></script>

</head>

<body class="bg-light">

    <header th:replace="~{fragments/content :: title('Pizzeria da Pedro')}"></header>

    <div class="container">

        Logged user: <span sec:authentication="name">xxx</span>
        Roles: <span sec:authentication="principal.authorities">yyy</span>

        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Descrizione</td>
                    <td>Ingredienti</td>
                    <td>Prezzo</td>
                    <td></td>
                </tr>
            </thead>

            <tbody id="pizzas_table">

            </tbody>
        </table>

        <a class="btn btn-primary" href="/create-pizza" sec:authorize="hasAuthority('ADMIN')">
            Add a Pizza </a>

    </div>



</body>

</html>