<!DOCTYPE html>
<html xlmns="https://thymeleaf.org">

<head>

    <title>Pizzeria da Pedro</title>

    <th:block th:replace="~{fragments/head :: personal-head}" />

    <!-- Link Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Link a js/homepage.js -->
    <script type="text/javascript" th:src="@{/js/homepage.js}" defer></script>

</head>

<body class="bg-light">

    <header th:replace="~{fragments/content :: title('Pizzeria da Pedro')}"></header>

    <div class="container">

        Logged user: <span sec:authentication="name">xxx</span>
        <!-- Roles: <span sec:authentication="principal.authorities">yyy</span> -->

        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Descrizione</td>
                    <td>Ingredienti</td>
                    <td>Prezzo</td>
                    <td></td>
                </tr>
            </thead>

            <tbody id="pizzas_table">

            </tbody>
        </table>

    </div>

    <!-- Button navigation -->
    <footer>
        <div class="container d-flex flex-row-reverse py-3 justify-content-between">

            <div class="d-flex flex-row-reverse gap-2">
                <a class="btn btn-primary" href="/create-pizza" sec:authorize="hasAuthority('ADMIN')">
                    Aggiungi Pizza </a>

                <a class="btn btn-secondary" href="/logout">Logout</a>
            </div>

            <div>
                <a class="btn btn-warning" href="/pizzas" sec:authorize="hasAuthority('ADMIN')">
                    Passa alla schermata per amministratori </a>
            </div>
        </div>
    </footer>


</body>

</html>